<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Debtor Management
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="icon" href="../static/debtor.png">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js" type="text/javascript"></script>
        <script src="/eel.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body class="container">
        <nav class="navigation">
            <ul>
                <img src="../static/debt.png" alt="debt logo">
                <li>Debtor Management</li>
                <li id="search">
                    Search <input type="text" id="name_search" placeholder="Name" autocomplete="off" autofocus>
                </li>
                <li>
                    <img src="../static/password.png" alt="password" onclick="show_change_pass()">
                </li>
                <li onclick="loan()" style="cursor: pointer;">Loan</li>
            </ul>
        </nav>
        <div class="change_pass" id="change_pass">
            <div id="pass_data">
                <b>Change Password</b>
                <form>
                    <input type="password" id="new_password" placeholder="New Password" autofocus autocomplete="off" required onkeyup="validate()"><br>
                    <input type="password" id="confirmation" placeholder="Retype New Password" autofocus autocomplete="off" required onkeyup="validate()"><br>
                    <button type="button" id="changeP" onclick="passChange()">Change</button>
                </form>
            </div>
            <div id="success">
                <img src="../static/success.png">
            </div>
        </div>
        <table class="debt-data" id="debt_data">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Due Date</th>
                    <th>
                        <b onclick="order_page(event)">Name</b>
                        |
                        <b onclick="order_page(event)">Due Date</b>
                        |
                        <b onclick="order_page(event)">Balance</b>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="add_loan" id="add_loan">
            <div class="add_loan_content">
                <span onclick="close_win()" class="close">✖</span>
                <b>Add Loan</b>
                <form>
                    <div>
                        <p>Name of Borrower</p>
                        <input type="text" id="loan_name" autocomplete="off" autofocus placeholder="Name" required onkeyup="ensure_no_space()">
                    </div>
                    <div>
                        <p>Loan Amount</p>
                        <input type="number" id="loan_amount" autocomplete="off" autofocus placeholder="Loan Amount" min="1" required onkeyup="ensure_number()">
                    </div>
                    <div>
                        <p>Due Date</p>
                        <input type="date" id="due_date" required onchange="ensure_date()">
                    </div>
                    <div>
                        <button type="button"  onclick="add_person()">Add Person</button><b id="add_success">Successfully Added!</b><b id="unsuccessful">Chech Your Inputs!</b>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", async function(){
            let inner = [];
            var datas = await eel.fetch_data('name')();
            for (data of datas){
                var name = data.name.replace('<', '&lt;').replace('&', '&amp;');
                var due_date = data.due_date.replace('<', '&lt;').replace('&', '&amp;');
                inner+= '<tr>' + 
                            '<td id="hasdhhj_v">' + name + '</td>' + 
                            '<td>' + data.loan + '</td>'+
                            '<td>' + data.balance + '</td>'+
                            '<td>' + due_date + '</td>'+
                            '<td class=actions>'+
                                '<b onclick=lessen_debt()>ADD</b> | '+
                                '<b onclick="remove('+ data.id +')">REMOVE</b>'+
                            '</td>'+
                        '</tr>'
            }
            document.querySelector("tbody").innerHTML = inner;
        })
    </script>
</html>