<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Debtor Management
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="icon" href="../icons/debtor.png">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js" type="text/javascript"></script>
        <script src="/eel.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body class="container">
        <nav class="navigation">
            <ul>
                <img src="../icons/debt.png" alt="debt logo">
                <li>Debtor Management</li>
                <li id="search">
                    Search <input type="text" id="name_search" placeholder="Name" autocomplete="off" autofocus onkeyup="search_p()">
                </li>
                <li>
                    <img src="../icons/password.png" alt="password" onclick="show_change_pass()">
                </li>
                <li>
                    <p onclick="loan()" style="cursor: pointer; width: 20%">Loan</p>
                </li>
                <li>
                    <p onclick="show_download()" style="cursor: pointer; width: 20%">Download</p>
                </li>
            </ul>
        </nav>
        <div id="loading">
            <div class="lds-dual-ring"></div>
        </div>
        <div class="change_pass" id="change_pass">
            <div id="pass_data">
                <b>Change Password</b>
                <form>
                    <input type="password" id="new_password" placeholder="New Password" autofocus autocomplete="off" required onkeyup="validate()"><br>
                    <input type="password" id="confirmation" placeholder="Retype New Password" autofocus autocomplete="off" required onkeyup="validate()"><br>
                    <button type="button" id="changeP" onclick="passChange()">Change</button>
                </form>
            </div>
            <div id="success">
                <img src="../icons/success.png">
            </div>
        </div>
        <table class="debt-data" id="debt_data">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Due Date</th>
                    <th>
                        <b onclick="order_page(event)">Name</b>
                        |
                        <b onclick="order_page(event)">Due Date</b>
                        |
                        <b onclick="order_page(event)">Balance</b>
                        |
                        <b onclick="order_page(event)">Paid</b>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="add_style" id="download-div">
            <div class="download-content">
                <span class="close" onclick="close_confirm('download-div')">✖</span>
                <b>Download Debt Data</b><br><br>
                <p>Select Name</p>
                <select name="Names" id="names_opt">
                </select>
                <div>
                    <button type="button" onclick="download()">Download</button>
                </div>
            </div>
        </div>
        <div class="add_style" id="confirm_div">
            <div class="confirm_div_content">
                <span class="close" onclick="close_confirm('confirm_div')">✖</span>
                <form>
                    <div>
                        <p style="margin-top: 10%;">Enter Your Password</p>
                        <input type="password" id="pasd" autocomplete="off" autofocus placeholder="Password" style="border-radius: 0;">
                        <input type="hidden" id="hid">
                    </div>
                    <div>
                        <button type="button" onclick="remove()">Enter</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="no_data" id="no_data">
            <img src="../icons/not_found.png">
        </div>
        <div class="add_style" id="add_loan">
            <div class="add_loan_content">
                <span onclick="close_win()" class="close">✖</span>
                <b>Add Loan</b>
                <form>
                    <div>
                        <p>Name of Borrower</p>
                        <input type="text" id="loan_name" autocomplete="off" autofocus placeholder="Name" required onkeyup="ensure_no_space()">
                    </div>
                    <div>
                        <p>Loan Amount</p>
                        <input type="number" id="loan_amount" autocomplete="off" autofocus placeholder="Loan Amount" min="1" required onkeyup="ensure_number('loan_amount')">
                    </div>
                    <div>
                        <p>Due Date</p>
                        <input type="date" id="due_date" required onchange="ensure_date('due_date')">
                    </div>
                    <div>
                        <button type="button"  onclick="add_person('due_date', 'loan_amount')">Add Person</button><b id="add_success">Successfully Added!</b><b id="unsuccessful">Chech Your Inputs!</b>
                    </div>
                </form>
            </div>
        </div>
        <div class="add_style" id="payment_con">
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", async function(){
            let inner = [];
            var datas = JSON.parse(await eel.fetch_data(order = 'name', qstatus = 1)());
            if (!(datas)){
                $("#no_data").css("display", "block");
            }
            else{
                $("#no_data").css("display", "none");
                for (let data of datas){
                    var name = data.name.replace('<', '&lt;').replace('&', '&amp;');
                    var due_date = data.due_date.replace('<', '&lt;').replace('&', '&amp;');
                    inner+= '<tr>' + 
                                '<td id="hasdhhj_v">' + name + '</td>' + 
                                '<td>' + data.loan + '</td>'+
                                '<td>' + data.balance + '</td>'+
                                '<td>' + due_date + '</td>'+
                                '<td class=actions>'+
                                    '<b onclick=payment_function('+ data.id +')>PAY</b> | '+
                                    '<b onclick="remove_show('+ data.id +')">REMOVE</b>'+
                                '</td>'+
                            '</tr>'
                }
                document.querySelector("tbody").innerHTML = inner;
            }
        });
    </script>
</html>