<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Debtor  Management
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" href="../icons/debtor.png">
        <script src="../static/script.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="/eel.js" type="text/javascript"></script>
    </head>
    <body class="container">
        <form>
            <div class="login">
                <h6> Password</h6>
                <i class="invalid" id="error_code">Invalid Password</i><br>
                <input id="password" type="password" placeholder="Password" autocomplete="off" autofocus required>
                <i class="error" id="error">*required</i>
                <div>
                    <button type="button" id="subbutton" onclick="logg()">Log In</button>
                </div>    
            </div>
        </form>
    </body>
    <script>
        var password = document.getElementById("password");
        var sub = document.getElementById("subbutton");
        var error = document.getElementById("error");
        sub.disabled = true;
        password.addEventListener("keyup", async function(){
            if (password.value.trim().length != 0){
                sub.disabled = false;
                password.style.border = "black solid 1px";
                password.style.outline = "black solid 1px";
                password.style.marginBottom = "10%"
                error.style.display = "none";
            }
            else{
                sub.disabled = true;
                password.style.border = "red solid 1px";
                password.style.outline = "red solid 1px";
                password.style.marginBottom = "0%"
                error.style.display = "block";
                error.style.marginBottom = "6%";
            }
        })
    </script>
</html>