<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Debtor Management
        </title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body class="container">
        <div class="upper">
            <header>
                <h6>
                    Loan Management
                </h6>
                <h6>
                    Log Out
                </h6>
                <input type="text" placeholder="Search" autocomplete="off" autofocus>
            </header>
        </div> 
        {{% block main %}} {{% endblock %}}
    </body>
</html>